.track-card {
  border-bottom: 1px solid #323232;
  padding-top: 23px;
}

.track-details {
  display: flex;
  align-items: center;
}

.track-action {
  cursor: pointer;
  padding: 10px;
  font-size: 24px;
  transition: all .3s ease;
  border: 0px;
  opacity: 0.8;
  background: none;
}

.track-action:hover {
  opacity: 1;
  transform: scale(1.2);
}

.track-information {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.track-information h3 {
  margin: 10px 0;
}

.track-information p {
  font-size: .83rem;
}

.play-button {
  width: 40px;
  opacity: .8;
  transition: all .3s ease;
  cursor: pointer;
  margin-right: 20px;
  margin-left: 5px;
}

.img-straight:hover {
  opacity: 1;
  transform: scale(1.05);
}

.img-rotate {
  transform: rotate(90deg);
}

.img-rotate:hover {
  opacity: 1;
  transform: rotate(90deg) scale(1.05);
}
