.searchBar input {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #323232;
  color: #323232;
  font-family: 'Jost', sans-serif;
  font-size: 18px;
  margin-bottom: 30px;
}

.searchBar input:focus {
  outline: none;
}
