.save-button {
  text-align: center;
  margin-top: 20px;
}

.playlist-saved {
  display: flex;
  height: 0;
  justify-content: center;
  align-items: center;
  animation: fadeIn ease 6s;
  overflow: hidden;
}

.playlist-saved img {
  width: 20px;
  margin-left: 10px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    height: 0px;
  }
  10% {
    height: 55px;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  90% {
    height: 55px;
  }
  100% {
    opacity: 0;
    height: 0px;
  }
}
